<div class="form-login-container">
  <%= form_for(:session , url: login_path) do |f| %>  
    <div class="logo"><span class="a">A</span><span class="web">web</span></div>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: "form-control" %>
    </div>
  
    <%= f.submit "Login", class: 'login-button' %>
    
    <%= link_to "Sign Up", signup_path %>
  <% end %>
</div>
