<div class="left">
  <%= render 'layouts/left_navbar' %>
</div>
<div class="right">
  <%= render 'layouts/top_navbar' %>
  <div class="content">
    <main>
      <%= render 'users/index/tab_bar' %>
      <%= render 'microposts/post_form' %>
      <div class="main-content">
        <%= render 'microposts/posts' %>
      </div>
    </main>
    <%= render 'users/index/right_navbar' %>
  </div>
</div>