<div class="left">
  <%= render 'layouts/left_navbar' %>
</div>
<div class="right">
  <%= render 'layouts/top_navbar' %>
  <div class="content">
    <main>
      <%= image_tag(@user.cover_image, class: "cover-image") %>
      <%= render 'users/show/tab_bar' %>
      <div class="user-main-content">
      </div>
    </main>
    <%= render 'users/show/right_navbar' %>
  </div>
</div>

