<!DOCTYPE html>
<html>
  <head>
    <title>Aweb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logo"><span class="a">A</span><span class="web">web</span></div>
    <%= yield %>
  </body>
</html>
